<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="layoutPattern">%style{%d{yyyy/MM/dd HH:mm:ss.SSS}}{cyan} 
            %highlight{[%-5p]}{FATAL=bg_red, ERROR=red, INFO=green, DEBUG=blue}  [%C] %style{[%t]}{bg_yellow}- %m%n -</Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}"/>
        </Console>
		<RollingFile name="SaveFile">
		  <FileName>/Users/jhon/Documents/Work/logs/Log.log</FileName>
		  <FilePattern>/Users/jhon/Documents/Work/logs/%d{yyyy-MM-dd-HH}.log</FilePattern>
		  <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>	
          <Policies>
		    <TimeBasedTriggeringPolicy interval="1" modulate="true" /> 
        <SizeBasedTriggeringPolicy size="200KB"/>
		  </Policies>
		  <DefaultRolloverStrategy max="7" fileIndex="max" >
		  	<Delete basePath = "/Users/jhon/Documents/Work/logs" maxDepth = "1">
		  		<IfLastModified age = "3d"/>
		  	</Delete>
		  </DefaultRolloverStrategy>
		</RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="SaveFile"/>
        </Root>
    </Loggers>
</Configuration>